.card {
  color: white;
  background-color: #141414;
  margin-left: 18vw;
  margin-right: 18vw;
  padding: 5vw;
  border-radius: 10px;
  flex-direction: column;
}
.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-box {
  margin-bottom: 20px;
}
.img-box-alt {
  margin-bottom: 20px;
  width: 54vw;
}

.slidebck {
  position: fixed;
  bottom: 0;
  left: 20;
  color: #ffa260;
  transition: 0.25s;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  font-size: 0.91rem;
}

.slidebck:hover,
.slidebck:focus {
  border-color: #ee8b44;
  box-shadow: 0 0.5em 0.5em -0.4em #ee8b44;
  transform: translateY(-0.25em);
}

.slidenext {
  position: fixed;
  bottom: 0;
  top: 100;
  right: 0;
  left: 90;
  display: flex;
  color: #ffa260;
  transition: 0.25s;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  font-size: 0.91rem;
}

.slidenext:hover,
.slidenext:focus {
  border-color: #ee8b44;
  box-shadow: 0 0.5em 0.5em -0.4em #ee8b44;
  transform: translateY(-0.25em);
}
