.main-container1 {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.loggedIn {
  color: white;
}

.slideout {
  color: #e6380d;
  transition: 0.25s;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  font-size: 0.8vw;
}

.slideout:hover,
.slideout:focus {
  border-color: #e2480b;
  box-shadow: 0 0.5em 0.5em -0.4em #e2480b;
  transform: translateY(-0.25em);
}

.slidecont {
  color: #8fc866;
  transition: 0.25s;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  font-size: 0.8vw;
}

.slidecont:hover,
.slidecont:focus {
  border-color: #7bd43b;
  box-shadow: 0 0.5em 0.5em -0.4em #7bd43b;
  transform: translateY(-0.25em);
}
.btns {
  display: flex;
  flex-direction: row;
}

.bo-chan {
  width: 50px;
  height: 100px;
}
@media (max-width: 500px) {
  .event-title {
    font-size: 35px;
  }
  .loggedIn {
    font-size: 18px;
  }
  .slidecont {
    font-size: 12px;
  }
  .slideout {
    font-size: 12px;
  }
  .slidehome1 {
    font-size: 12px;
  }
  .btns {
    flex-direction: column;
  }
  .main-container1 {
    height: fit-content;
  }
} ;
