.main-container {
  height: 90vh;
  position: relative;
}

.title {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  color: aliceblue;
  font-size: 5rem;
}

.slogan {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  color: aliceblue;
  font-size: 2rem;
}
