.main-container {
  height: 90vh;
  position: relative;
}

.title {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  color: aliceblue;
  font-size: 5rem;
}

.slogan {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  color: aliceblue;
  font-size: 2rem;
}

.socialsCont {
  width: 100vw;
  margin-bottom: 1vh;
  position: relative;

  display: flex;
  justify-content: center;
  justify-self: end;
  align-items: center;
  align-self: flex-end;
}

.socials {
  color: white;
  margin-right: 0.8vw;
  margin-left: 0.8vw;
  margin-bottom: 0.5vh;
  justify-content: right;
  align-items: flex-end;
  transition: transform ease-in-out 200ms;
}

.socials:hover {
  transform: translateY(-0.5vh);
}
