.main-cont-home {
  overflow: hidden;
  margin: 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.slogan {
  color: aliceblue;
  font-size: 2rem;
}

.socialsCont {
  width: 100vw;
  margin-bottom: 1vh;
  bottom: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  justify-self: end;
  align-items: center;
  align-self: flex-end;
}

.socials {
  color: white;
  margin-right: 0.8vw;
  margin-left: 0.8vw;
  margin-bottom: 0.5vh;
  justify-content: right;
  align-items: flex-end;
  transition: transform ease-in-out 200ms;
}

.socials:hover {
  transform: translateY(-0.5vh);
}

.title-cont {
  margin: 0px;
  justify-content: center;
  align-items: center;
  margin: 0px;
  width: 90vw;
  display: flex;
}
.title {
  color: aliceblue;
  font-size: 5rem;
}

.img-logo {
  width: 110px;
  height: 110px;
}
@media (max-width: 600px) {
  .title {
    font-size: 43px;
  }
  .img-logo {
    width: 65px;
    height: 65px;
  }
  .slogan {
    font-size: 20px;
    margin: 5px;
  }
  .socials {
    margin: 10px;
    font-size: 40px;
  }
}
