@import url("https://fonts.googleapis.com/css?family=Lato");

body {
  font-family: "Lato", sans-serif;
  background-color: #18191a;
}

.center {
  position: relative;
  height: 90vh;
  display: grid;
  place-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

html,
body {
  position: relative;
  height: 100vh;
}
.bg {
  z-index: -1;
}
.nav {
  z-index: 1;
}

#particles-js canvas {
  display: block;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity 0.8s ease, -webkit-transform 1.4s ease;
  transition: opacity 0.8s ease, transform 1.4s ease;
}

#particles-js {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}
