@import url("https://fonts.googleapis.com/css?family=Lato");

body {
  font-family: "Lato", sans-serif;
  background-color: #18191a;
}

.center {
  position: relative;
  height: 90vh;
  display: grid;
  place-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

html,
body {
  margin: 0px;
  padding: 0px;
  position: relative;
  height: 100vh;
}

#particles-js {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -10;
}

canvas {
  display: flex;
  height: 100%;
  width: 100%;
  aspect-ratio: 9/16;
}
.bg-main {
  display: inline;
  position: fixed;
  z-index: -500;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
.headingx {
  color: #18191a;
  font-size: 2vw;
}
